@import './reset';
.onPc {
  display: flex;
}
.offPc {
  display: none;
}
body {
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  cursor: default;
  overflow-x: hidden;
  html {
    overflow: hidden;
  }

  color: #fff;
  a {
    color: #fff;
  }
}
.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: #1e1e1e;
  .header-link-line {
    color: #fff;
    margin-left: 10px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 2px;
      width: 100%;
      height: 0.5px;
      background-color: #fff;
    }
  }
  color: #fff;
}
.header-line {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 0;
  display: none;
  p {
    cursor: default;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav,
.img-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-text {
  margin-left: 10px;
}
.nav {
  display: flex;
  align-items: center;
  transform: translateX(-20px);
}
.nav-link {
  margin-left: 5px;
  padding: 15px 25px;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s ease;
  &.active {
    background-color: rgb(20, 20, 20);
  }
  &:hover {
    background-color: rgb(20, 20, 20);
  }
}
.btn-header {
  padding: 15px 25px;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  transform: translateX(-30px);
}
.header-nav {
  padding: 20px 0;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 1920px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.135);
    top: 0;
    left: -160px;
  }
  &::before {
    position: absolute;
    content: '';
    width: 1920px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.135);
    bottom: 0;
    left: -160px;
  }
}
// intro

.intro {
  background-color: #141414;
}

.intro-block-1 {
  color: #fff;
  padding-top: 144px;
  position: relative;
  width: 900px;
  h1 {
    font-size: 60px;
    font-weight: 600;
    max-width: 648px;
  }
  .supTitle {
    max-width: 648px;
    color: #999999;
    margin-top: 24px;
  }
}
.btn-content {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.btn-intro {
  padding: 14px 25px;
  border: solid 1px #ffffff2f;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.4s ease;
  &.purple {
    background-color: rgb(112, 59, 247);
    &:hover {
      background-color: transparent;
    }
  }
  &:hover {
    background-color: rgb(112, 59, 247);
  }
}

.info-bar {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.bar-item {
  background-color: rgb(38, 38, 38);
  padding: 16px 25px;
  border: solid 1px #ffffff2f;
  border-radius: 12px;
  margin-right: 20px;
  cursor: default;
  h3 {
    font-size: 40px;
    font-weight: 700;
  }
  p {
    color: rgb(153, 153, 153);
  }
}
.intro-content {
  display: flex;
}

.none {
  display: none !important;
}

.intro-center {
  position: absolute;
  right: -90px;
  top: 140px;
}

.view {
  background-color: #141414;
  padding-top: 150px;
  .supTitle {
    max-width: 517px !important;
  }
}
.view-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 60px;
    font-weight: 600;
    max-width: 648px;
  }
  .supTitle {
    max-width: 648px;
    color: #999999;
    margin-top: 24px;
  }
}
.view-item {
  &.left-bord {
    padding-left: 25px;
    border-left: solid 1px #9999992f;
  }

  &.top {
    margin-top: 30px;
  }

  h3 {
    max-width: 409px;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(153, 153, 153);
  }
}
.view-item-head {
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    font-weight: 600;
    font-size: 24px;
  }
}
.view-block-2 {
  border: solid 6px #1e1e1e;
  padding: 60px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.achievements {
  background-color: #141414;
  padding-top: 60px;
  h1 {
    font-size: 48px;
    font-weight: 600;
  }
  .supTitle {
    max-width: 1297px;
    color: #999999;
    margin-top: 24px;
  }
}
.achievements-content {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.achievements-item {
  padding: 50px;
  border-radius: 12px;
  border: solid 6px #1e1e1e;
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
  p {
    color: #999999;
    max-width: 405px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
  }
}
.navigation-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation-item-index-content {
  padding: 50px;
  min-height: 242px;

  border: solid 1px #99999974;
  h2 {
    font-size: 26px;
    font-weight: 600;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    color: #999999;
    max-width: 412px;
    margin-top: 20px;
  }
}
.navigation-item-header {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 15px;
  border-left: solid 1px #99999974;
  border-right: solid 1px #99999974;
  margin-top: 30px;
  h6 {
    margin-left: 20px;
  }
}
.meet-item {
  padding: 30px;
  border: solid 1px #99999974;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
  }
  p {
    font-size: 18px;
    color: #999999;
    margin-top: 10px;
  }
}
.bird-item {
  padding: 16px 26px;
  background-color: #703bf7;
  transform: translateY(-25px);
  border-radius: 45px;
}
.message-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #1e1e1e;
  border-radius: 100px;
  border: solid 1px #99999974;
  min-width: 316px;
  margin-top: 15px;
  img {
    cursor: pointer;
  }
}
.meet-conteiner {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.Valued-container {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
}
.Valued-item {
  padding: 50px;
  border-radius: 12px;
  border: solid 8px #99999921;
  width: 773px;
}
.Valued-item-header-btn {
  background-color: #1a1a1a;
  border: solid 1px #9999993c;
  padding: 18px 24px;
  border-radius: 10px;
}
.Valued-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Valued-item-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.Valued-item-content-row {
  display: flex;
  align-items: center;
  p {
    color: #999999;
  }
  img {
    margin-right: 10px;
  }
}
.text-header-4 {
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
}
.block-valu {
  width: 306px;
  p {
    margin-top: 11px;
  }
}
.block-valu:last-child {
  padding-left: 30px;
  border-left: solid 1px #9999994b;
}
.text-content {
  padding: 30px;
  border-radius: 12px;
  border: solid 1px #9999993c;
  margin-top: 40px;
  h6 {
    color: 18px;
    font-size: 18px;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }
}
.swiper-setting {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  padding-top: 20px;
  border-top: solid 1px #999999;
  padding-bottom: 80px;
  .right {
    margin-left: 15px;
  }
}
.arrow-swiper {
  display: flex;
}
.info {
  background-color: #141414;
  position: relative;
  padding-top: 80px;
  height: 367px;

  &::after {
    position: absolute;
    content: '';
    width: 1920px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.135);
    top: 0;
  }
}
.info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn-intro {
    min-width: 192px;
    text-align: center;
    position: relative;
    z-index: 3;
  }
}
.block-info {
  position: relative;
  z-index: 3;
  h2 {
    font-size: 48px;
    font-weight: 600;
  }
  h3 {
    color: rgb(153, 153, 153);
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    max-width: 1154px;
  }
}
.img-info-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.img-info-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
footer {
  padding: 100px 160px;
  background-color: #141414;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 1920px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.135);
    top: 0;
    transform: translateX(-170px);
  }
}
.footer-logo {
  display: flex;
  align-items: center;
}
.input {
  display: flex;
  position: relative;
  align-items: center;
  padding: 18px 25px;
  max-width: 423px;
  border-radius: 10px;
  border: solid 0.1px #999999;
  margin-top: 30px;
}
.tg-input {
  position: absolute;
  right: 23px;
  cursor: pointer;
}
.email-img {
  margin-right: 10px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-column {
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(153, 153, 153);
    position: relative;
    cursor: pointer;
  }
  p {
    margin-top: 30px;
    cursor: pointer;
    position: relative;
    &:hover::before {
      transform: scale(1);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: inline;
      bottom: -10px;
      background-color: #fff;
      width: 100%;
      height: 1px;
      transform: scale(0);
      transition: 0.4s ease;
    }
  }
}
.foot-foot {
  padding: 30px 162px;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-1 {
  display: flex;

  p {
    font-size: 18px;

    font-weight: 500;
    &:last-child {
      margin-left: 35px;
    }
  }
}

@media (max-width: 440px) {
  .onMob {
    display: flex;
  }
  .offMob {
    display: none;
  }
  html {
    overflow-x: hidden;
  }
  body {
    max-width: 390px;
    overflow: hidden;
  }
  .onMob {
    display: flex;
  }
  .offMob {
    display: none;
  }
  .nav {
    flex-direction: column;
    width: 410px;
    height: 400px;
    background-color: #1e1e1e;
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 3;
    li {
      margin-top: 50px;
      a {
        font-size: 20px;
      }
    }

    .nav-link.active {
      background-color: transparent;
    }
  }
  .header-line {
    position: relative;
    justify-content: start;
    .button {
      left: 0;
    }
  }
  .header-line p {
    font-size: 11px;
  }
  .header .header-link-line {
    font-size: 12px;
  }
  .burger {
    cursor: pointer;
    position: relative;
    z-index: 4;
    right: 23px;
  }
  .nav-link {
    margin-left: 0px;
  }
  .intro-content {
    flex-direction: column;
    .btn-intro {
      min-width: 340px;

      text-align: center;
      margin-top: 15px;
    }
  }
  .intro-block-1 {
    padding-top: 40px;
    max-width: 340px;
  }
  .intro-block-1 h1 {
    font-size: 28px;
    max-width: 358px;
  }
  .intro-block-1 .supTitle {
    font-size: 14px;
    max-width: 358px;
  }
  .btn-content {
    margin-top: 40px;
    flex-direction: column;
    max-width: 390px;
  }
  .btn-intro {
    margin-right: 0;
  }
  .info-bar {
    flex-wrap: wrap;
    min-width: 360px;
  }
  .bar-item {
    margin-right: 0;
    max-width: 170px;
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      min-width: 358px;
      margin-top: 15px;
    }
  }
  .view {
    padding-top: 70px;
  }
  .view-content {
    flex-direction: column;
  }
  .view-item.left-bord {
    border-left: 0;
    padding-left: 0;
  }
  .view-block-2 {
    padding: 25px;
    margin-top: 40px;
  }
  .top-bord {
    border-top: solid 1px rgba(153, 153, 153, 0.1843137255);
    padding-top: 20px;
    margin-top: 20px;
  }
  .view-item h3 {
    font-size: 14px;
  }
  .view-img {
    width: 52px;
    height: 52px;
  }
  .view-content h2,
  .achievements h1 {
    font-size: 28px;
    margin-top: 5px;
  }
  .view-content .supTitle,
  .achievements .supTitle {
    font-size: 14px;
  }
  .achievements-content {
    flex-direction: column;
  }
  .achievements-item {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
  .navigation-item-index-content {
    padding: 30px;
    min-height: 164px;
  }
  .navigation-item-index-content h2 {
    font-size: 18px;
  }
  .navigation-item-index-content p {
    font-size: 14px;
  }
  .meet-conteiner {
    flex-direction: column;
  }
  .meet-item {
    margin-top: 20px;
  }
  .Valued-item {
    padding: 25px;
    max-width: 357px;
  }
  .text-header-4 h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  .text-content {
    padding: 20px;
  }
  .text-content p {
    font-size: 14px;
    max-width: 269px;
  }
  .block-valu {
    max-width: 130px;
    margin-right: 40px;
  }
  .Valued-item-header {
    flex-direction: column;
    align-items: start;
  }
  .Valued-item-header-btn {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .block-valu:last-child {
    padding-left: 15px;
  }
  .Valued-item-content {
    justify-content: start;
  }
  .arrow-swiper {
    margin-right: 50px;
  }
  .info-content {
    flex-direction: column;
  }
  .info {
    padding-top: 60px;
    height: 540px;
    .info-content .btn-intro {
      margin-top: 15px;
      width: 100%;
    }
  }
  footer {
    padding: 30px 5px;
  }
  .footer-content {
    flex-wrap: wrap;
  }
  .footer-column h3 {
    margin-top: 25px;
  }
  .footer-column {
    width: 150px;
    margin-top: 45px;
  }
  .contact {
    position: relative;
    top: -150px;
  }
  .foot-foot {
    padding: 30px 5px;
    flex-direction: column;
  }
  .foot-1 {
    flex-direction: column;
  }
  .foot-1 p:last-child {
    margin: 15px 0;
    text-align: center;
  }
  .input {
    width: 327px;
  }
  .tg-input,
  .email-img {
    width: 20px;
  }
  .swiper-house {
    padding-top: 60px;
  }
  .X {
    width: 20px;
    left: 60%;
  }
  .Y {
    width: 20px;
    left: 60%;
  }
  .block-info h2{
    font-size: 28px;
  }
}
